<h1>Detalles del Producto</h1>
<hr>
<ul>
  <li>Producto: {{product.title}}</li>
  <li>Descripción: {{product.description}}</li>
  <li>Precio: ${{product.price}}</li>
  <li>Imagen: {{product.thumbnail}}</li>
  <li>Código: {{product.code}}</li>
  <li>Stock: {{product.stock}}</li>
  <li>id: {{product._id}}</li>
  <li><a href="#">Agregar al carrito</a></li>
</ul>
<a href="/products">Volver a la lista de productos</a>