<p>Bienvenido: {{user.name}}</p>
<p>Lista de Usuarios</p>
<hr>
<div>
    {{#each users}}
    <ul>
        <li>Nombre: {{this.first_name}}</li>
        <li>Apellido: {{this.last_name}}</li>
        <li>Email: ${{this.email}}</li>
        <li>Edad: {{this.age}}</li>
        <li>Rol: {{this.role}}</li>
        <hr>
    </ul>
    {{/each}}
</div>
<br>
<a href="/"><button>Ver Perfil</button></a>
<br>
<br>
<a href="/api/sessions/logout"><button>Salir</button></a>